<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ECB MC!{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}
    <style>
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,500,500i,600,700|Montserrat|Open+Sans:400,600,700|Raleway|Roboto+Condensed|Roboto:100,300,400,500,700,900');
</style>

        <script src="{{ asset('js/headerECB.js') }}"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <link rel="stylesheet" href="{{ asset('css/headerECB.css') }}">
        <link rel="stylesheet" href="{{ asset('css/baseECB.css') }}">
        <link rel="stylesheet" href="{{ asset('css/navbarMainECB.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> <!-- TODO UPDATE -->
    </head>
    <header>
        <div id="header-content-wrap">
            
            <div id="header-wrap">
                <div id="h-logo-wrap">{{ source('svg/aha.svg') }}</div>
                <div id="h-info-wrap"></div>
            </div>
            
            <div id="navbarMain-wrap">
                <ul class="navbar main">
                    <li class="nav-item main" onclick="toggleDropDown('home');" id="home-ni"><a>Home <i class="fas fa-chevron-down"></i></a></li>
                    <div class="dd" id="home-dd" data-down="false">HOME DD</div>
                    <li class="nav-item main" onclick="toggleDropDown('about');" id="about-ni"><a>About <i class="fas fa-chevron-down"></i></a></li>
                    <div class="dd" id="about-dd" data-down="false">ABOUT</div>
                    <li class="nav-item main" onclick="toggleDropDown('careers');" id="careers-ni"><a>Careers <i class="fas fa-chevron-down"></i></a></li>
                    <div class="dd" id="careers-dd" data-down="false">CAREERS</div>
                    <li class="nav-item main" onclick="toggleDropDown('hq');" id="hq-ni"><a>Headquarter <i class="fas fa-chevron-down"></i></a></li>
                    <div class="dd" id="hq-dd" data-down="false">HQ</div>
                </ul>
            </div>
            
        </div>
    </header>
    <body>

        {% block body %}This is a body{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>

</html>