<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ECB MC!{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}
    <style>
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,500,500i,600,700|Montserrat|Open+Sans:400,600,700|Raleway|Roboto+Condensed|Roboto:100,300,400,500,700,900');
</style>

        <script src="{{ asset('js/headerECB.js') }}"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
        <link rel="stylesheet" href="{{ asset('css/headerECB.css') }}">
        <link rel="stylesheet" href="{{ asset('css/baseECB.css') }}">
        <link rel="stylesheet" href="{{ asset('css/navbarMainECB.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> <!-- TODO UPDATE -->
    </head>
    <header>
        <div id="header-content-wrap">
            
            <div id="header-wrap">
                <div id="h-logo-wrap">{{ source('svg/aha.svg') }}</div>
                <div id="h-info-wrap"></div>
            </div>
            
            <div id="navbarMain-wrap">
                <ul class="navbar main">
                    <li class="nav-item main selected" onclick="toggleDropDown('home');" id="home-ni"><a>Home <i style="padding-left: 10px;" class="fas fa-chevron-down"></i></a></li>
                    <div class="dd" id="home-dd" data-down="false">
                        <div class="dd-main">
                            <div class="dd-main-image"><img src="../ems-team.jpg"></div>
                            <div class="dd-main-summary-wrap">
                                <div class="dd-main-title">Trasporti</div>
                                <p class="dd-main-text">Esplora qui i vari tipi di trasporti che la nostra associazione svolge con ambulanze, mezzi attrezzati, pulmini, e automobili.</p>
                                <ul class="dd-text-list"><li><i class="fas fa-angle-right"></i> TEXT</li></ul>
                            </div>
                        </div>
                        <div class="dd-list-wrapper">
                            <div class="dd-list-half">
                                <ul class="link-list1">
                                    <li class="border-after"><i class="fas fa-angle-right"></i> Opzione uno</li>
                                    <li class="border-after"><i class="fas fa-angle-right"></i> Opzione due</li>
                                    <li class="border-after"><i class="fas fa-angle-right"></i> Opzione tre</li>
                                    <li class="border-after"><i class="fas fa-angle-right"></i> Opzione quattro</li>
                                    <li><i class="fas fa-angle-right"></i> TESTER</li>
                                </ul>
                            </div>
                            <div class="dd-list-half">
                                <ul class="link-list1">
                                    <li class="border-after"><i class="fas fa-angle-right"></i> TESTER</li>
                                    <li class="border-after"><i class="fas fa-angle-right"></i> TESTER</li>
                                    <li><i class="fas fa-angle-right"></i> TESTER</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <li class="nav-item main" onclick="toggleDropDown('about');" id="about-ni"><a>About <i style="padding-left: 10px;" class="fas fa-chevron-down"></i></a></li>
                    <div class="dd" id="about-dd" data-down="false">
                    <div class="dd-main">
                            <div class="dd-main-image"><img src="../ems-team.jpg"></div>
                            <div class="dd-main-summary-wrap">
                                <div class="dd-main-title">About</div>
                                <p class="dd-main-text">Esplora qui i vari tipi di trasporti che la nostra associazione svolge con ambulanze, mezzi attrezzati, pulmini, e automobili.</p>
                                <ul class="dd-text-list"><li><i class="fas fa-angle-right"></i> TEXT</li></ul>
                            </div>
                        </div>
                        <div class="dd-list-wrapper">
                            <div class="dd-list-half">
                                <ul class="link-list1">
                                    <li class="border-after"><i class="fas fa-angle-right"></i> TESTER</li>
                                    <li class="border-after"><i class="fas fa-angle-right"></i> TESTER</li>
                                    <li class="border-after"><i class="fas fa-angle-right"></i> TESTER</li>
                                    <li class="border-after"><i class="fas fa-angle-right"></i> TESTER</li>
                                    <li><i class="fas fa-angle-right"></i> TESTER</li>
                                </ul>
                            </div>
                            <div class="dd-list-half">
                                <ul class="link-list1">
                                    <li class="border-after"><i class="fas fa-angle-right"></i> TESTER</li>
                                    <li class="border-after"><i class="fas fa-angle-right"></i> TESTER</li>
                                    <li><i class="fas fa-angle-right"></i> TESTER</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <li class="nav-item main" onclick="toggleDropDown('careers');" id="careers-ni"><a>Careers <i style="padding-left: 10px;" class="fas fa-chevron-down"></i></a></li>
                    <div class="dd" id="careers-dd" data-down="false">CAREERS</div>
                    <li class="nav-item main" onclick="toggleDropDown('hq');" id="hq-ni"><a>Headquarter <i style="padding-left: 10px;" class="fas fa-chevron-down"></i></a></li>
                    <div class="dd" id="hq-dd" data-down="false">HQ</div>
                </ul>
            </div>
            
        </div>
    </header>
    <body>

        {% block body %}This is a body{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>

</html>