{% macro servicebox(svg, title, text, link) %}

{% set def_svg = '<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 472.007 472.007" style="enable-background:new 0 0 472.007 472.007;" xml:space="preserve">
<g>
<path style="fill:#88B337;" d="M428.004,408.007L428.004,408.007c0,26.51-21.49,48-48,48l0,0
   C380.004,429.497,401.494,408.007,428.004,408.007z"/>
<path style="fill:#88B337;" d="M420.004,112.007L420.004,112.007c26.51,0,48,21.49,48,48l0,0
   C441.494,160.007,420.004,138.517,420.004,112.007z"/>
<path style="fill:#88B337;" d="M68.004,360.007L68.004,360.007c0,26.51-21.49,48-48,48l0,0
   C20.004,381.497,41.494,360.007,68.004,360.007z"/>
</g>
<path style="fill:#4398D1;" d="M259.748,456.007l-7.744-240h-32l-7.744,240h-48.256v16h144v-16H259.748z"/>
<path style="fill:#3570AB;" d="M252.876,243.095l-0.872-27.088h-32l-0.872,27.088C229.426,249.645,242.581,249.645,252.876,243.095z
"/>
<g>
<path style="fill:#DEDEDE;" d="M452.004,24.007h-16.4c-2.145-15.243-16.241-25.861-31.484-23.716
   c-12.309,1.732-21.983,11.406-23.716,23.716h-16.4c-8.837,0-16,7.163-16,16s7.163,16,16,16h88c8.837,0,16-7.163,16-16
   S460.84,24.007,452.004,24.007z"/>
<path style="fill:#DEDEDE;" d="M156.004,80.007h-16.4c0.206-1.325,0.34-2.66,0.4-4c0.048-19.829-15.988-35.943-35.817-35.99
   c-12.735-0.031-24.534,6.687-31.007,17.654c-14.305-5.213-30.128,2.157-35.341,16.462c-0.692,1.899-1.173,3.869-1.435,5.874h-16.4
   c-8.837,0-16,7.163-16,16s7.163,16,16,16h136c8.837,0,16-7.163,16-16S164.84,80.007,156.004,80.007z"/>
</g>
<g>
<path style="fill:#87CED9;" d="M165.924,63.279l-6.72-14.544c7.075-3.245,14.348-6.04,21.776-8.368l4.8,15.28
   C179.003,57.761,172.371,60.31,165.924,63.279z"/>
<path style="fill:#87CED9;" d="M58.932,266.183c-4.607-16.327-6.939-33.212-6.928-50.176c-0.086-29.082,6.794-57.762,20.064-83.64
   l14.248,7.28c-12.111,23.627-18.39,49.81-18.312,76.36c-0.009,15.493,2.118,30.912,6.32,45.824L58.932,266.183z"/>
<path style="fill:#87CED9;" d="M194.188,395.207c-39.258-9.237-74.419-31.055-100.128-62.128l12.344-10.168
   c23.47,28.374,55.573,48.298,91.416,56.736L194.188,395.207z"/>
<path style="fill:#87CED9;" d="M277.82,395.207l-3.632-15.584c39.101-9.136,73.639-31.97,97.36-64.368l12.912,9.456
   C358.475,360.193,320.646,385.201,277.82,395.207L277.82,395.207z"/>
<path style="fill:#87CED9;" d="M415.204,257.815l-15.576-3.616c2.901-12.524,4.369-25.337,4.376-38.192
   c0.064-81.031-57.76-150.543-137.448-165.232l2.896-15.736c100.017,18.596,166.022,114.75,147.426,214.767
   C416.379,252.488,415.821,255.158,415.204,257.815z"/>
<path style="fill:#87CED9;" d="M87.772,249.775c-9.231-40.735-1.338-83.473,21.832-118.224l13.296,8.912
   c-14.975,22.344-22.946,48.646-22.896,75.544c-0.003,10.172,1.129,20.312,3.376,30.232L87.772,249.775z"/>
<path style="fill:#87CED9;" d="M193.788,362.063c-23.59-6.848-45.175-19.295-62.92-36.28l11.064-11.552
   c15.876,15.193,35.186,26.328,56.288,32.456L193.788,362.063z"/>
<path style="fill:#87CED9;" d="M278.22,362.063l-4.432-15.376c26.779-7.704,50.527-23.486,68-45.192l12.432,10.056
   C334.693,335.814,308.151,353.455,278.22,362.063L278.22,362.063z"/>
<path style="fill:#87CED9;" d="M387.084,232.879l-15.88-1.744c0.543-5.024,0.81-10.075,0.8-15.128
   c0.316-63.583-43.716-118.795-105.776-132.632l3.552-15.6c69.353,15.476,118.561,77.174,118.224,148.232
   C388.002,221.644,387.695,227.276,387.084,232.879L387.084,232.879z"/>
</g>
<path style="fill:#4398D1;" d="M410.188,294.207c-36.612-48.492-90.249-81.298-150.096-91.8c-0.096-0.512-0.272-0.992-0.4-1.496
c-0.217-0.881-0.484-1.749-0.8-2.6c-0.224-0.608-0.48-1.192-0.752-1.776s-0.688-1.352-1.072-2c-0.628-1.061-1.334-2.075-2.112-3.032
c-0.36-0.44-0.688-0.904-1.072-1.312c-0.628-0.656-1.29-1.278-1.984-1.864c-0.272-0.232-0.544-0.464-0.8-0.688
c-2.571-2.047-5.529-3.554-8.696-4.432V9.951c0.061-5.434-4.294-9.889-9.728-9.95c-4.041-0.046-7.699,2.384-9.224,6.126
c-23.848,57.881-24.615,122.699-2.144,181.128c-1.414,1.07-2.707,2.29-3.856,3.64c-0.168,0.192-0.328,0.4-0.488,0.6
c-0.942,1.163-1.777,2.408-2.496,3.72c-0.2,0.368-0.408,0.728-0.592,1.112c-0.595,1.258-1.085,2.564-1.464,3.904
c-0.128,0.456-0.304,0.88-0.416,1.344c-0.431,1.836-0.654,3.714-0.664,5.6c0,0.664,0.144,1.296,0.192,1.952L64.932,294.503
c-4.724,2.78-6.333,8.844-3.608,13.6c1.974,3.465,5.845,5.395,9.8,4.888c59.724-7.864,114.302-37.917,152.88-84.184
c1.408,0.787,2.89,1.432,4.424,1.928c0.544,0.184,1.096,0.376,1.656,0.52s1.12,0.256,1.696,0.352c1.366,0.26,2.753,0.394,4.144,0.4
c1.658,0,3.312-0.169,4.936-0.504c1.368-0.296,2.706-0.714,4-1.248c0.184-0.072,0.392-0.104,0.576-0.176
c2.907-1.237,5.55-3.022,7.784-5.256l144.216,84.04c4.684,2.721,10.687,1.129,13.407-3.555c0.016-0.028,0.033-0.056,0.049-0.085
C412.882,301.741,412.605,297.408,410.188,294.207L410.188,294.207z"/>

</svg>' %}

<div class="service-box">


{{ svg|default(def_svg)|raw }}

<h2>{{ title|default('SERVICE TITLE') }}</h2>
<p>{{ text|default('Description of the second service provided.') }}</p>
<a href="{{ link|default('') }}">LINK TO MORE INFO 2</a>

</div>

{% endmacro servicebox %}

{% macro newsbox(breaking, date, title, link) %}

<div class="newsbox">
<span class="newsbox-status-label" style="background: {{ breaking ? '#ff3300' : 'whitesmoke' }}">RECENTE</span><span class="newsbox-date-label">{{ date|default('21 Dicembre 1998') }}</span>
<p> {{ title|default('SOME NEWS SHOULD GO HERE...') }} </p>
<a href="{{ link|default('') }}">Vai alla notizia >></a>
</div>

{% endmacro newsbox%}

{% macro calendarbox(day, month, year, title, introText, link) %}

<div class="calendarbox">
<!-- div may not be necessay for the date labels. Paddings could be used, or non-floating solutions -->
    <!--canvas onclick="draw(this);"></canvas-->
    <div class="date-container"> <span class="day-label"> {{day|default('21')}} </span> <span class="month-label"> {{month|default('Dicembre')}} <br><span>{{year|default('1998')}} </span></span> </div> 
    <div class="text-main-container">
    <p> {{title|default('TITOLO DELL"EVENTO VA QUI')}} </p>
    <p> {{introText|default('Intro deve andare qui dell\' evento....')}} </p>
    </div>
    <div class="bottom-link-container"><a href="{{ link|default('') }}">Scopri &gt;&gt; </a></div>
</div>

{% endmacro calendarbox %}
